# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
backend-service/.venv/

# Node
node_modules/
frontend-app/node_modules/
frontend-app/dist/

# OS / Editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Env
.env
*.env.local
